.form {
    display: flex;
    flex-direction: column;
}

.form__input {
        display: flex;
    flex-direction: column;
}

.form__input__label {
    font-weight: 600;
}

.form__input__data {}

.form__button {}